<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
    integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/static/css/main.css">

  <script src="/static/js/main.js" defer></script>
  <script src="/static/js/admin.js" defer></script>

  <title>Hi!</title>
</head>

<body>
  <div id="grid-parent" class="pure-g">
    <div id="grid-header" class="pure-u-1">
      <h1 style="display: inline-block;">In-class Guestlist</h1>

      <a href="/" class="pure-button">Home</a>
      <a href="/admin" class="pure-button">Admin</a>
      
      <a href="/login" class="pure-button">Login</a>
      <a href="/logout" class="pure-button">Logout</a>
    </div>

    <div id="grid-menu" class="pure-u-1-5">
      Menu
    </div>

    <div id="grid-content" class="pure-u-3-5">
      <h2>Guest List</h2>
      <div id="guest-list">
        {% for guest in guest_list %}
        <div id="guest-{{guest.id}}" style="display: flex; justify-content: space-between;">
          <p id="guest-list-name">{{guest.guestName}}</p>

          <button id="guest-{{guest.id}}-delete" class="pure-button">Delete</button>
        </div>
        {% endfor %}
      </div>
    </div>

    <div id="grid-ads" class="pure-u-1-5">
      Ad
    </div>

    <div id="grid-footer" class="pure-u-1">
      Footer
    </div>

  </div>

</body>

</html>
